body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    width: 99vw;
    border-radius: 10px;
    border: solid 4px #40c2ff;
}

.controls {
    display: flex;
    align-items: center;
    gap: 25px;
}