body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    width: 99vw;
    border-radius: 10px;
    border: solid 4px #40c2ff;
}

.controls {
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: #ebebeb;
    border-radius: 20px;
}

input {
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 8px #00000033;
}

p {
    margin-left: 10px;
}

.reset {
    margin-right: 10px;
}

button {
    border: none;
    background-color: white;
    border-radius: 10px;
    height: 25px;
    width: 100px;
    box-shadow: 1px 1px 8px #00000033;
}